*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
    
}
html, body {
    overflow-x: hidden; 
}
body{
    background: white;
    min-height: 1003.5vh;
    overflow: hidden;
}
header {
    margin-top: 5.9vh;
    color: white;
    position: absolute;
    top: 0;
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 41px 100px;
    background:white;
    z-index: 100;
    font-size: 0.9em;
    letter-spacing: 2.5px;
}


header.logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.6s;

}
header ul{
    left: 2vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    color: black;
    position: relative;
    list-style: none;
    align-items: center;
    margin-right: 44px;
}

header ul li a{
    color: black;
    position: relative;
    margin left: 15px;
    margin right: 15px;
    text-decoration: none;
}
.searchicon img{
    position: relative;
    left: -3.5vh;
    width: 3.5vh;
    height: 3.5vh;
}
.personico img{
    right: -6.8vh;
    position: relative;
    width: 4vh;
    height: 4vh;
}
.cartico img{
    position: relative;
    right: -6.8vh;
    width: 3.5vh;
    height: 3.5vh;
}
.icos img{
    position: relative;
    margin:1vh;
    
}
.nanor-list-item {
  font-size: 4.8vh;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 9.8vw; 
    min-height: 4.8vw;
    
}
.slide-header {
    height: 6vh;
    background: black;
    font-family: Lato, sans-serif;
    font-weight: lighter;
    color: white;
    width: 100%;
    position: center;
    font-size: 12px;
    overflow: hidden; 
    white-space: nowrap;
    z-index: 100; 
    display: flex;
    align-items: center;
    letter-spacing: 2.5px;
}
    
.slide-header span {
    display: inline-block; 
    opacity: 2; 
    margin-right: auto;
    position: absolute; 
    top: 1.5vh; 
    right: 68.5%;      
}

.slide-header:hover span {
    animation: swipe 8s infinite;
}
       
 @keyframes swipe {
        0% {
            right: 73.5%%;
            opacity: 1;
        }
        50% {
        right: -50%; 
        opacity: 0.5;
    }
        100% {
            right: -100%; 
            opacity: 0; 
        }
    }
.slider {
    top: 12.5vh;
    width: 1400px;
    height: 620px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.list {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}

.list img {
    width: 1300px;
    max-width: 100vw;
    height: 80%;
    object-fit: cover;
}



.button {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.button button {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: whitesmoke;
    color: white;
    border: none;
    font-family: Lato, sans-serif;
    font-weight: bold;
}

.dots {
    position: absolute;
    bottom: -40px;
    color: white;
    margin-left: 100vh;
    padding: 0;
    display: flex;
    justify-content: center;
}

.dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: white;
    margin: 20px;
    border-radius: 0px;
    transition: 2s;
}

.dots li.active {
    width: 40px;
    background-color: black;
}

.pop-image {
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.pop-image.pop-visible {
    animation: pop 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes pop {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }

    70% {
        transform: scale(1.05);
        opacity: 0.7;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


.pop-image {
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.pop-image.pop-visible {
    animation: pop 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes pop {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }

    70% {
        transform: scale(1.05);
        opacity: 0.7;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.faves{
    font-size: 3.4vh;
    position: absolute;
    top: 112vh;
    font-family: Lato, sans-serif;
    letter-spacing: 1.2px;
    left: 48%;
}
.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 0;
    list-style-type: none;
    letter-spacing: 1px;
}

.dropdown-menu li {
    display: block;
    width: 215px;
    margin: 0; 
    position: relative;
    z-index: 1;
    text-decoration: none;

}

.dropdown-menu li a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    overflow: hidden;
}

.dropdown-menu li span{
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    overflow: hidden;
}

.dropdown-menu li span:hover {
    background-color: white;

}


.dropdown-menu li a:hover {
    background-color: white;

}

.dropdown:hover .dropdown-menu {
    display: block;

}



  .dropdown-menu li::after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    background-color: lightgray;
    position: absolute;
    bottom: 13px;
    left: 15px;
    transition: width 0.3s ease;
  }

 .dropdown-menu li:hover::after {
    overflow: hidden;
    width: calc(100% - 11vh); 
}












.b {
  position: relative;
  top: 15.5vh;
  left: 8vh;
  width: 48.7vh; 
  height: 47vh; 
  overflow: hidden; 
  display: inline-block;
  margin-right: 20px;

}

.first-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 48.7vh;
  height: 47vh;
  transition: transform 0.3s ease;
}

.second-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 47vh;
  height: 46vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease;
}
@keyframes zoomFadeIn {
  0% {
    transform: scale(1);
    opacity: 0.1;
  }
  10% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.7;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    transform: scale(1.1);
    opacity: 1;
  }
}
.first-image:hover + .second-image {
  opacity: 1;
  animation: zoomFadeIn 0.3s ease forwards;
}



.white-panel{
    text-align: center;
    left: 7vh;
    top: 30.8vh;
    position: absolute;
    width: 35vh;
    background-color: white;
    height: 7vh;
    z-index: 2; 
    transition: transform 0.3s ease; 
    transform: translateY(160%);
    opacity: 0;
    position: relative;
    overflow: hidden;
    display: inline-block;

}

.b:hover .white-panel {
    transform: translateY(0);
    opacity: 1;
}

.white-panel:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.white-panel::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 1);
    transition: height 0.3s ease;
    border-radius: 0px;
}

.white-panel:hover::before {
    height: 100%;
    border: 1px solid white;
}

.white-panel p {
    color: black; 
    transition: color 0.3s ease; 
    position: relative;
    z-index: 1; 
}

.white-panel:hover p {
    color: white; 
    z-index: 2; 
}













.v{
    position: relative;
}

.image-container {
    display: inline-flex;
    vertical-align: top;
    left: 3 .5vh;
    top: 3.8vh;
    position: relative;
    align-items: center;
    justify-content: center; 
    width: 44px;
    height: 44px;
    border-radius: 60%;
    overflow: hidden;
    background-color: white; 
    z-index: 0; 
    transition: transform 0.3s ease; 
    transform: scale(0); 
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.b:hover .image-container {
  animation: zoomIn 0.3s ease forwards; 
}
.description{
    position: absolute;
    top: 174vh;
    left: 8vh;
    width: 48.7vh;
  height: 42vh;
  font-family: normal;
  font-size: 13.5px;
  letter-spacing: 0.8px;
  word-spacing: 0.1px;

   color: black;
   opacity: 0.85;
   line-height: 1.8
}
.description1{
    position: absolute;
   top: 174vh;
  left: 60.8vh;
  width: 48.7vh;
  height: 42vh;
  font-family: normal;
  font-size: 13.5px;
  letter-spacing: 0.8px;
  text-align: justify;
   color: black;
   opacity: 0.85;
   line-height: 1.8
   
}
.description2{
    position: absolute;
   top: 174vh;
  left: 113.4vh;
   width: 48.7vh;
  height: 42vh;
  font-family: normal;
  font-size: 13.5px;
  letter-spacing: 0.8px;
  text-align: justify;
   color: black;
   opacity: 0.85;
   line-height: 1.8
   
}
.description3{
    position: absolute;
  top: 174vh;
  left: 166.4vh;
  width: 48.7vh;
  height: 42vh;
  font-family: normal;
   font-size: 13.5px;
  letter-spacing: 0.8px;
  text-align: justify;
   color: black;
   opacity: 0.85;
   line-height: 1.8
}
  .b:hover + .description .p {
    text-decoration: underline gray;
  }
  
  .b:hover + .description1 .p {
   text-decoration: underline gray;
  }
  .b:hover + .description2 .p {
    text-decoration: underline gray;
  }
  .b:hover + .description3 .p {
    text-decoration: underline gray;
  }

  .description:hover a {
    text-decoration: underline gray;
  }
  .description1:hover a{
    text-decoration: underline gray;
  }
  .description2:hover a {
    text-decoration: underline gray;
  }
  .description3:hover a {
    text-decoration: underline gray;
  }




  .scented{
    position: relative;
    top: 42.5vh;
    left: 8.5vh;
    position: relative;
    width: 102.5vh;
    height: 102.5vh;
    overflow: hidden;
  }
  .slideshow {
    display: flex;
    cursor:crosshair;
}


.image {
     transition: opacity 1.2s cubic-bezier(0.25, 0.1, 0.25, 1);
}

 @keyframes popIn {
        0% {
            opacity: 0; 
            transform: scale(1.1); 
        }
        100% {
            opacity: 1; 
            transform: scale(1); 
        }
    }
.slideshow img.show {
        animation: popIn 1.5s ease-in-out forwards; 
    }


.arrow1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}

.arrow-left {
    left: 0;
}

.arrow-right {
    right: 0;
}
.upside-down {
    transform: scaleY(-1);
}





  h1{
    position: absolute;
    width: 80vh;
    top: 196vh;
    left: 124.2vh;
     line-height: 1.3;
     font-family: Lato, sans-serif;
     font-weight: lighter;
  }


.rating1 {
    margin-top: -32vh;
        position: absolute;
        display: inline-block;
        unicode-bidi: bidi-override;
        direction: rtl;
    }
    .rating1 input {
        display: none;
    }
   .rating1 label {
        color: #ffca08; 
        font-size: 17.5px;
        padding: 1.4px;
        float: right;
        cursor: pointer;
    }
    .rating1 label:before {
        content: '★';
    }
    .rating1 input:checked ~ label {
        color: #ffca08;
    }




.rating {
        margin-top: -41.5vh; 
       left: 124.2vh;
        position: absolute;
        display: inline-block;
        unicode-bidi: bidi-override;
        direction: rtl;
    }
    .rating input {
        display: none;
    }
   .rating label {
        color: #ffca08;
        font-size: 17.5px;
        padding: 1.4px;
        float: right;
        cursor: pointer;
    }
    .rating label:before {
        content: '★';
    }
    .rating input:checked ~ label {
        color: #ffca08;
    }

    h2{ font-family: Lato, sans-serif;
       left: 124.2vh;
        font-size: 1.6rem;
        margin-top: -33.5vh; 
        line-height: 1;
        font-weight: lighter;
        position:relative;
        letter-spacing: 2px;
    }
    .size{
        position: relative;
       left: 124.2vh;
        font-size: 0.9rem;;
        font-weight: 400;
        font-body-family: Lato, sans-serif;
         
        font-body-style: normal;
        font-body-weight: 400;
         margin-top: 3.5vh; 
    }

.quantity-spinner {
    margin-top: 14.5vh; 
    position: relative;
 left: 124.2vh;
  display: flex;
  align-items: center;
  width: 135px; 
  border: none;
}

.quantity-spinner button {
  width: 40px;
  height: 40px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  border-radius: 50%; 
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.quantity-spinner input {
  width: 50px;
  height: 30px;
  text-align: center;
  border: none;
}

.quantity-spinner button:hover {
  background-color: black;
  color: white;
  border: none;
}
.quantity-spinner input[type="number"] {
  width: 50px;
  height: 30px;
  text-align: center;
  -moz-appearance: textfield; 
  appearance: none; 
  border: none;
}

.quantity-spinner input[type="number"]::-webkit-inner-spin-button,
.quantity-spinner input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; 
  appearance: none; 
}
.w {
    text-align: center;
    margin-top:-19.2vh;
   left: 124.2vh;
    position: absolute;
    width: 9.9vh;
    background-color: black;
    height: 6.5vh;
    display: inline-block;
}
.container {
            text-align: center;
            margin-top: -8vh;
            left:177.7vh;
            transform: translateX(-50%);
            position: absolute;
            width: 59.7vh;
            background-color: white;
            border: 2px solid black;
            height: 8.4vh;
            display: inline-block;
            overflow: hidden;
        }

        .container p {
            color: black; 
            transition: color 0.3s ease; 
        }

        .container:hover .wa p {
            color: white; 
        }


        .container::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
            background-color: rgba(0, 0, 0, 1);
            transition: height 0.3s ease;
            border-radius: 0px;
            z-index: -1;
        }

        .container:hover::before {
            height: 100%;
        }
.container2{
    position: relative;
    display: inline-block;
    position: absolute;
     text-align: center;
    margin-top: 2.4vh;
     left: 124.2vh;
    background-color: #5b34f2;
    width: 83.5vh;
    height: 8.3vh;
    color: white;
}
.payment{
    position: relative;
    text-decoration: underline ;
     left: 155.7vh;
    margin-top: 13vh;
}
.media{
    position: relative;
     left: 124.2vh;
    margin-top: 7.5vh;
}
.share{
    position: relative;
    left: 4vh;
    margin-top: -3.1vh;
    letter-spacing: 1.5px;
     color: #333333;
    text-decoration: underline gray;
}
.twt {
    position: relative;
    left: 140.2vh;
    margin-top: -3.1vh;
}
.tweet{
    position: relative;
    left: 4vh;
    margin-top: -3.5vh;
    letter-spacing: 1.5px;
     color: #333333;
    text-decoration: underline gray;
}
.pin {
    position: relative;
    left: 155.2vh;
    margin-top: -3.3vh;
}
.pinit{
    position: relative;
    left: 4vh;
    margin-top: -3.8vh;
    letter-spacing: 1.5px;
     color: #333333;
    text-decoration: underline gray;
}
.email {
    position: relative;
    left: 170.2vh;
    margin-top: -2.8vh;
}
.em{
    position: relative;
    left: 4vh;
    margin-top: -4vh;
    letter-spacing: 0.8px;
     color: #333333;
    text-decoration: underline gray;
}
.container3{
    position: relative;
    display: inline-block;
    position: absolute;
     text-align: center;
    margin-top: 6.9vh;
     left: 124.2vh;
    background-color:white;
   width: 83.5vh;
    height: 7.7vh;
    color: white;
    border-top: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
    border-left: none;
    border-right: none;
}
.seen{
    font-size: 3.7vh;
    position: relative;
    margin-top:27.2vh;
    font-family: Lato, sans-serif;
    letter-spacing: 1.2px;
    left: 45.8%;
}
.pic {
    width: 66vh;
    height: 66vh;
    margin-left: 8.5vh;
    margin-top: 10.5vh;
    overflow: hidden;
    }
    .pic .ph1 {
    opacity: 0.5; 
    transition: transform 2s ease; 
}
     .pic .ph1:hover {
        opacity: 1;
    transform: scale(1.1) !important; 

}

 .pic img {
        opacity: 0; 
       transition: opacity 1.5s cubic-bezier(0.25, 0.1, 0.25, 1); 
    }

    
    @keyframes popIn {
        0% {
            opacity: 0; 
            transform: scale(1.1); 
        }
        100% {
            opacity: 1; 
            transform: scale(1); 
        }
    }

   
    .pic img.show {
        animation: popIn 1.2s ease-in-out forwards; 
    }


.pic1 {
    width: 66vh;
    height: 66vh;
    margin-left: 79.4vh;
    margin-top: -66vh;
    overflow: hidden;
    }
    
 .pic1 .p1 {
    opacity: 0.5; 
    transition: transform 2s ease;
}
     .pic1 .p1:hover {
        opacity: 1;
    transform: scale(1.1) !important;


}

 .pic1 img {
        opacity: 0; 
       transition: opacity 1.2s cubic-bezier(0.25, 0.1, 0.25, 1); 
    }

    
    @keyframes popIn {
        0% {
            opacity: 0; 
            transform: scale(1.1);
        }
        100% {
            opacity: 1; 
            transform: scale(1); 
        }
    }

    
    .pic1 img.show {
        animation: popIn 1.2s ease-in-out forwards; /* Use forwards to keep the final state */
    }






    .pic2 {
    width:66vh;
    height: 66vh;
    margin-left: 151vh;
     margin-top: -66vh;
    overflow: hidden;
    }
    .pic2 .p2 {
    opacity: 0.5; 
    transition: transform 2s ease; 
}
     .pic2 .p2:hover {
        opacity: 1;
    transform: scale(1.1) !important; 

}

 .pic2 img {
        opacity: 0; 
       transition: opacity 1.2s cubic-bezier(0.25, 0.1, 0.25, 1); 
    }

    @keyframes popIn {
        0% {
            opacity: 0; 
            transform: scale(1.1); 
        }
        100% {
            opacity: 1;
            transform: scale(1); 
        }
    }

    
    .pic2 img.show {
        animation: popIn 1.5s ease-in-out forwards; 
    }

.pic3 {
    width: 66vh;
    height: 66vh;
    margin-left: 8.5vh;
    margin-top: 4vh;
    overflow: hidden;
    }
    .pic3 .p3 {
    opacity: 0.5; 
    transition: transform 2s ease; 
}
     .pic3 .p3:hover {
        opacity: 1;
    transform: scale(1.1) !important;

}

 .pic3 img {
        opacity: 0; 
       transition: opacity 1.2s cubic-bezier(0.25, 0.1, 0.25, 1); 
    }

   
    @keyframes popIn {
        0% {
            opacity: 0; 
            transform: scale(1.1);
        }
        100% {
            opacity: 1; 
            transform: scale(1); 
        }
    }

    
    .pic3 img.show {
        animation: popIn 1.5s ease-in-out forwards; 
    }

.pic4 {
    width: 66vh;
    height: 66vh;
     margin-left: 79.4vh;
    margin-top: -66.1vh;
    overflow: hidden;
    }
    .pic4 .p4 {
    opacity: 0.5; 
    transition: transform 2s ease; 
}
     .pic4 .p4:hover {
        opacity: 1;
    transform: scale(1.1) !important; 

}

 .pic4 img {
        opacity: 0;
       transition: opacity 1.2s cubic-bezier(0.25, 0.1, 0.25, 1); 
    }

    /* Define keyframes for the animation */
    @keyframes popIn {
        0% {
            opacity: 0; /* Start with opacity 0 */
            transform: scale(1.1); /* Start with smaller size */
        }
        100% {
            opacity: 1; /* End with opacity 1 */
            transform: scale(1); /* End with original size */
        }
    }

    /* Apply animation to the image */
    .pic4 img.show {
        animation: popIn 1.5s ease-in-out forwards; /* Use forwards to keep the final state */
    }

    .pic5 {
    width: 66vh;
    height:66vh;
    margin-left: 151vh;
    margin-top: -66.1vh;
    overflow: hidden;
    }
    .pic5 .p6 {
    opacity: 0.5; /* Initially show the image */
    transition: transform 2s ease; /* Smooth transition for zoom effect */
}
     .pic5 .p6:hover {
        opacity: 1;
    transform: scale(1.1) !important; /* Use !important to override other rules */

}

 .pic5 img {
        opacity: 0; /* Initially hide the image */
       transition: opacity 1.2s cubic-bezier(0.25, 0.1, 0.25, 1); /* Smooth transition with cubic-bezier easing */
    }

    /* Define keyframes for the animation */
    @keyframes popIn {
        0% {
            opacity: 0; /* Start with opacity 0 */
            transform: scale(1.1); /* Start with smaller size */
        }
        100% {
            opacity: 1; /* End with opacity 1 */
            transform: scale(1); /* End with original size */
        }
    }

    /* Apply animation to the image */
    .pic5 img.show {
        animation: popIn 1.5s ease-in-out forwards; /* Use forwards to keep the final state */
    }


.pic6{
     width: 225vh; 
     height: 87vh;
     margin-top:0vh;
    overflow: hidden;
    }


 .pic6 img {
        opacity: 0; /* Initially hide the image */
       transition: opacity 1.2s cubic-bezier(0.25, 0.1, 0.25, 1); /* Smooth transition with cubic-bezier easing */
    }

    /* Define keyframes for the animation */
    @keyframes popIn {
        0% {
            opacity: 0; /* Start with opacity 0 */
            transform: scale(1.1); /* Start with smaller size */
        }
        100% {
            opacity: 1; /* End with opacity 1 */
            transform: scale(1); /* End with original size */
        }
    }

    /* Apply animation to the image */
    .pic6 img.show {
        animation: popIn 1.5s ease-in-out forwards; /* Use forwards to keep the final state */
    }





    .pic0{
     width: 225vh;
    overflow: hidden;
    }

 .pic0 img {
        opacity: 0; /* Initially hide the image */
       transition: opacity 1.2s cubic-bezier(0.25, 0.1, 0.25, 1); /* Smooth transition with cubic-bezier easing */
    }

    /* Define keyframes for the animation */
    @keyframes popIn {
        0% {
            opacity: 0; /* Start with opacity 0 */
            transform: scale(1.1); /* Start with smaller size */
        }
        100% {
            opacity: 1; /* End with opacity 1 */
            transform: scale(1); /* End with original size */
        }
    }

    /* Apply animation to the image */
    .pic0 img.show {
        animation: popIn 1.5s ease-in-out forwards; /* Use forwards to keep the final state */
    }


    .pic7{
     width: 225vh; 
     height: 82vh;
     margin-top:0vh;
    overflow: hidden;
    }


 .pic7 img {
        opacity: 0; /* Initially hide the image */
       transition: opacity 1.2s cubic-bezier(0.25, 0.1, 0.25, 1); /* Smooth transition with cubic-bezier easing */
    }

    /* Define keyframes for the animation */
    @keyframes popIn {
        0% {
            opacity: 0; /* Start with opacity 0 */
            transform: scale(1.1); /* Start with smaller size */
        }
        100% {
            opacity: 1; /* End with opacity 1 */
            transform: scale(1); /* End with original size */
        }
    }

    /* Apply animation to the image */
    .pic7 img.show {
        animation: popIn 1.5s ease-in-out forwards; /* Use forwards to keep the final state */
    }
    
    .carousel{
        height: 100vh;
        flex-wrap: nowrap;
        top: -14vh;
         display: flex; /* Use flexbox for carousel items */
        transition: transform 0.5s ease; 

    }
    .carousel .carousel-item{
        opacity: 1;
        width: 48vh;
         left: 18vh;
        right: 10vh;

    }
    .carousel-control {
        position: absolute;
        top: 688%;
        transform: translateY(-50%);
        background: rgba(0, 0,0, 0);
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        z-index: 999;

    }

    .carousel-control.prev {
        left: 180px;
    }

    .carousel-control.next {
        right: 180px;
    }
    .carousel-control::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50px;
        height:50px;
        border-radius: 50%;
        background-color: transparent;
        opacity: 0;
        transition: all 0.3s ease;
    }

    .carousel-control:hover::before {
        opacity: 1;
        background-color: whitesmoke;
    }

    .prev::before,
    .next::before {
        font-size: 70px; /* Adjusted font size */
        line-height: 30px; /* Center vertically */
        color: black;
    }

    .prev::before {
        content: '\2039';
    }

    .next::before {
        content: '\203A';
    }
.carousel-control.prev:hover,
.carousel-control.next:hover {
    color: black;
}

/* Show both control arrows when either side is hovered */
.carousel-control:hover + .carousel-control.next::before,
.carousel-control:hover ~ .carousel-control.prev::before {
    opacity: 1;
}

.carousel-item:not(.active) figcaption {
    display: none;

}
.carousel-indicators {
    display: none;
}


/*     product slider   */ 
a{text-decoration: none;}
.p-slider{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

.product-box{
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    margin: 0px 20px;
}
.p-img-container{
     margin-left: 3.5vh;
     margin-top: 1.8vh;
    width: 59vh;
    height: 34.8vh;
    display: flex;
    overflow: hidden;
}
.p-img a, 
.p-img{
    width: 12.5vh;
    height: 12.5vh;
    display: flex;
    border: 1px solid rgb(0, 0, 0, 0.03);
}
.p-img a img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;

}
.product-name{
    font-size: 1.62vh;
    width: 12vh;
    margin-top: 23vh;
    font-body-family:  Lato, sans-serif;
    font-body-style: normal;
    line-height: 11px;
    letter-spacing: 0.6px;
    margin-left: -12.2vh;
    color: #999999;
}
.product-comment{
    font-size: 2.6vh;
    width: 41.5vh;
    margin-top: 9.3vh;
    font-body-family:  Lato, sans-serif;
    font-body-style: normal;
    line-height: 18px;
    letter-spacing: 0.2px;
    margin-left: 2.9vh;
    color: #999999;
}
.product-date{
    position: absolute;
    font-size: 1.85vh;
    width: 12vh;
    margin-top: 0vh;
    font-body-family:  Lato, sans-serif;
    font-body-style: normal;
    line-height: 10.5px;
    letter-spacing: 0.6px;
    margin-left: 48vh;
    color: #999999;
}

















































footer{
    margin-top: 5.5vh;
    background-color: #f8d4cc;
    padding-top: 50px;
    height: 73.5vh;
}
.containerA{
    width: 1140px;
    margin: auto;
    display: flex;

}
.footer{
    width: 33.3%;
}

.footer-content ul{
    position: relative;
    top: 3.2vh;
    left: -10.3vh;
     flex-direction: column; /* Set the direction to column */
    align-items: flex-start;



}
.list{
    padding:0 ;



}
.list li a{
    width:47vh;
    margin-right: 11vh;
    text-align: left;
    list-style-type: none;
    padding: 7.5px;
    position: relative;
    letter-spacing: 1.1px;
    font-size: 0.99rem;
    font-family: Lato, sans-serif;
    color: black;
    opacity: 0.85;


}
.list li:: before{
    content: '';
    position: absolute;
    left: 2vh;
    top: 100%;
    width: 0;
    height: 2px;
    background-color: black;
    transition-duration: .5s;

}
.list li:hover::before{
    width: 70px;
}
form {
    margin-top: 6.7vh;
    margin-left: 68vh;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -2px;
    margin-top: 20px;
    width: 49vh;
}
form input{
     letter-spacing: 0.7px;
    font-family: Lato, sans-serif;
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
} 
form button .fa-solid{
    font-size: 10px;
    color:gray;
}
.for{
 margin-left: 68vh;
 font-family: Lato, sans-serif;
}
.for1{
    margin-left: 68vh;
    margin-bottom: 5vh;
    font-family: Lato, sans-serif;
}
.for2{
    margin-left: 68vh;
    font-family: Lato, sans-serif;
}
.footer-content1{
    margin-top: 2.6vh;
}
.SoicilM{
    margin-top: 3vh;
    margin-left: 68vh; 
}
.SoicilM i{
    margin-right:4vh ;
     font-size: 20.5px;
     color: black;
     opacity: 0.7;
     transition: color 0.3s ease;
}



.SoicilM a{
    position: relative;
}


.SoicilM a::before {
    content: '';
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    transition: background-color 1s ease;

}

.SoicilM a:hover::before {
    background-color: rgba(0, 0, 0, 1);
}

.SoicilM a:hover i {
   color: #ffffff !important;
}





.site-footer h1{
    text-align:center ;
    top: 1.7vh;
    position: relative;
    font-family: Lato, sans-serif;
    letter-spacing: 0.8px;
    font-size: 5.3vh;
    font-weight: lighter;
    font-scale: 1.0;
    margin-top: 20vh;
}
.site-footer h2{
    margin-left: 22.5vh;
    top: -12.5vh;
    position: relative;
    font-family: Lato, sans-serif;
    font-size: 3.6vh;
    font-weight: lighter;
    font-scale: 1.0;
    margin-top: 20vh;
    letter-spacing: 1px;
}
.site-footer .p{ 
    margin-left: 22.5vh;
    margin-right: 20vh;
    font-family: Lato, sans-serif;
    font-weight: lighter;
    line-height: 42px;
    font-size: 2.4vh;
    letter-spacing: 0.9px;

}
.site-footer .pra{
    position: relative;
    top: -10vh;
}
small {
    margin-left: 8vh;
    letter-spacing: 0.9px;
    font-family: Lato, sans-serif;
    font-size: 0.7rem;
    color: #3D3D3D;
}
small a{
    color: #3D3D3D;
}
.list-payment {
        margin-top: -9.5vh;
        display: flex;
        margin-left: 66.8vh;
    }
.list-payment li {
    margin-right: 0.7vh;
}
.list-payment__item{
    margin-left: 1vh;
   }

















.search-box {
    display:none;
    position: absolute;
    top: 7px;
    right: -10%;
    background-color: white;
    border: 1px solid transparent;
    padding: 10px;
    padding-left: 50vh;
    padding-right: 50vh;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.0);
    z-index: 99;
    width: 100%;
}

.search-box input[type="text"] {
    width: 85.2vh;
    height: 23px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 55px;
}

.search-box button {
    padding: 8px 15px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.search-box button:hover {
    background-color: transparent;
}



.pic:hover .caption {
    opacity: 1; /* Show caption on hover */
}

.caption::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; /* Adjust as needed */
    width: 0; /* Start with zero width */
    height: 2px; /* Underline height */
    background-color: white; /* Underline color */
    transition: width 0.3s ease; /* Smooth transition for width */
}

.pic:hover .caption::after {
    width: 93.5%; /* Expand the underline on hover */
}














.pic1:hover .caption {
    opacity: 1; /* Show caption on hover */
}

.caption::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; /* Adjust as needed */
    width: 0; /* Start with zero width */
    height: 2px; /* Underline height */
    background-color: white; /* Underline color */
    transition: width 0.3s ease; /* Smooth transition for width */
}

.pic1:hover .caption::after {
    width: 37%; /* Expand the underline on hover */
}

.pic2:hover .caption {
    opacity: 1; /* Show caption on hover */
}

.caption::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; /* Adjust as needed */
    width: 0; /* Start with zero width */
    height: 2px; /* Underline height */
    background-color: white; /* Underline color */
    transition: width 0.3s ease; /* Smooth transition for width */
}

.pic2:hover .caption::after {
    width: 12%; /* Expand the underline on hover */
}

.pic3:hover .caption {
    opacity: 1; /* Show caption on hover */
}

.caption::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; /* Adjust as needed */
    width: 0; /* Start with zero width */
    height: 2px; /* Underline height */
    background-color: white; /* Underline color */
    transition: width 0.3s ease; /* Smooth transition for width */
}

.pic3:hover .caption::after {
    width: 96%; /* Expand the underline on hover */
}

.pic4:hover .caption {
    opacity: 1; /* Show caption on hover */
}

.caption::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; /* Adjust as needed */
    width: 0; /* Start with zero width */
    height: 2px; /* Underline height */
    background-color: white; /* Underline color */
    transition: width 0.3s ease; /* Smooth transition for width */
}

.pic4:hover .caption::after {
    width: 50.5%; /* Expand the underline on hover */
}

.pic5:hover .caption {
    opacity: 1; /* Show caption on hover */
}

.caption::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; /* Adjust as needed */
    width: 0; /* Start with zero width */
    height: 2px; /* Underline height */
    background-color: white; /* Underline color */
    transition: width 0.3s ease; /* Smooth transition for width */
}

.pic5:hover .caption::after {
    width: 32.5%; /* Expand the underline on hover */
}




 .list li {
    margin: 0; /* Remove default margin */
    position: relative;
    z-index: 1;
    text-decoration: none;
}

  .list li::after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    background-color: lightgray;
    position: absolute;
    bottom: 7px;
    left: 5px;
    transition: width 0.3s ease;
  }

 .list li:hover::after {
    overflow: hidden;
    width: calc(100% - 78px); /* Adjust for padding */
}
